.vscode/
.obj
.pdb
output.txt
.ilk
Lorenz-butterfly/Lorenz.exe
Lorenz-butterfly/Lorenz.ilk
Lorenz-butterfly/Lorenz.pdb
Lorenz.obj
venv
output1.txt
Deriv.obj
vc140.pdb
4.feladat/Deriv.ilk
4.feladat/Deriv.pdb
output_fel_4.txt
.gitignore
vc140.pdb
Lorenz-pillangó/Lorenz.ilk
Lorenz-pillangó/Lorenz.pdb
